<%- contentFor('body') %>

    <p style="text-align:center"> Name & Discrim: <%- name + discrirm  %></p>
    <p style="text-align:center"> Name & Discrim:
      <%- name + discrirm  %>
    </p>
    <p style="text-align:center"> Name & Discrim:
      <%- name + discrirm  %>
    </p>

